<!--login form popup-->
<div class="login-wrapper" id="login-content">
  <div class="login-content">
    <a href="index.html#" class="close">x</a>
    <h3>Login</h3>
    <!--<form method="post" action="login.php">-->
      <!--<div class="row">-->
        <!--<label for="username">-->
          <!--Username:-->
          <!--<input type="text" name="username" id="username" placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />-->
        <!--</label>-->
      <!--</div>-->

      <!--<div class="row">-->
        <!--<label for="password">-->
          <!--Password:-->
          <!--<input type="password" name="password" id="password" placeholder="******" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />-->
        <!--</label>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="remember">-->
          <!--<div>-->
            <!--<input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>-->
          <!--</div>-->
          <!--<a href="index.html#">Forget password ?</a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<button type="submit">Login</button>-->
      <!--</div>-->
    <!--</form>-->
    <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
      <p class="form-row form-row-wide">
        <label for="email">Email Address: <span class="required">*</span></label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="loginEmail" type="text"
               class="input-text" name="email" id="email" value=""/>
      </p>

      <p class="form-row form-row-wide">
        <label for="password">Password: <span class="required">*</span></label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="loginPassword" class="input-text"
               type="password" name="password" id="password"/>
      </p>

      <p class="form-row">
        <input type="submit" class="button" name="login" value="Login"/>

        <label for="rememberme" class="rememberme">
          <input name="rememberme" type="checkbox" id="rememberme" value="forever"/> Remember
          Me</label>
      </p>

      <p class="lost_password">
        <a href="#">Lost Your Password?</a>
      </p>
      <div *ngIf="isValid == false" class="notification error closeable">
        <p><span>Error!</span> Please provide valid credentials.</p>
        <a class="close" href="#"></a>
      </div>
      <div *ngIf="isValid == true" class="notification success closeable">
        <p><span>Success!</span> {{loginEmail}} logged in!</p>
        <a class="close" href="#"></a>
      </div>
    </form>
    <div class="row">
      <p>Or via social</p>
      <div class="social-btn-2">
        <a class="fb" href="index.html#"><i class="ion-social-facebook"></i>Facebook</a>
        <a class="tw" href="index.html#"><i class="ion-social-twitter"></i>twitter</a>
      </div>
    </div>
  </div>
</div>
<!--end of login form popup-->
<!--signup form popup-->
<div class="login-wrapper"  id="signup-content">
  <div class="login-content">
    <a href="index.html#" class="close">x</a>
    <h3>sign up</h3>
    <form method="post" action="signup.php">
      <div class="row">
        <label for="username-2">
          Username:
          <input type="text" name="username" id="username-2" placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
        </label>
      </div>

      <div class="row">
        <label for="email-2">
          your email:
          <input type="password" name="email" id="email-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
        </label>
      </div>
      <div class="row">
        <label for="password-2">
          Password:
          <input type="password" name="password" id="password-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
        </label>
      </div>
      <div class="row">
        <label for="repassword-2">
          re-type Password:
          <input type="password" name="password" id="repassword-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
        </label>
      </div>
      <div class="row">
        <button type="submit">sign up</button>
      </div>
    </form>
  </div>
</div>
<!--end of signup form popup-->

<!-- BEGIN | Header -->
<header class="ht-header">
  <div class="container">
    <nav class="navbar navbar-default navbar-custom">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header logo">
        <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <div id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <a href="index.html"><img class="logo" src="assets/images/logo1.png" alt="" width="119" height="58"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav flex-child-menu menu-left">
          <li class="hidden">
            <a href="index.html#page-top"></a>
          </li>
          <li class="dropdown first">
            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown">
              Home <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu level1">
              <li><a href="index.html">Home 01</a></li>
              <li><a href="homev2.html">Home 02</a></li>
              <li><a href="homev3.html">Home 03</a></li>
            </ul>
          </li>
          <li class="dropdown first">
            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
              movies<i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu level1">
              <li class="dropdown">
                <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown" >Movie grid<i class="ion-ios-arrow-forward"></i></a>
                <ul class="dropdown-menu level2">
                  <li><a href="moviegrid.html">Movie grid</a></li>
                  <li><a href="moviegridfw.html">movie grid full width</a></li>
                </ul>
              </li>
              <li><a href="movielist.html">Movie list</a></li>
              <li><a href="moviesingle.html">Movie single</a></li>
              <li class="it-last"><a href="seriessingle.html">Series single</a></li>
            </ul>
          </li>
          <li class="dropdown first">
            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
              celebrities <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu level1">
              <li><a href="celebritygrid01.html">celebrity grid 01</a></li>
              <li><a href="celebritygrid02.html">celebrity grid 02 </a></li>
              <li><a href="celebritylist.html">celebrity list</a></li>
              <li class="it-last"><a href="celebritysingle.html">celebrity single</a></li>
            </ul>
          </li>
          <li class="dropdown first">
            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
              news <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu level1">
              <li><a href="bloglist.html">blog List</a></li>
              <li><a href="bloggrid.html">blog Grid</a></li>
              <li class="it-last"><a href="blogdetail.html">blog Detail</a></li>
            </ul>
          </li>
          <li class="dropdown first">
            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
              community <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu level1">
              <li><a href="userfavoritegrid.html">user favorite grid</a></li>
              <li><a href="userfavoritelist.html">user favorite list</a></li>
              <li><a href="userprofile.html">user profile</a></li>
              <li class="it-last"><a href="userrate.html">user rate</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav flex-child-menu menu-right">
          <li class="dropdown first">
            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
              pages <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu level1">
              <li><a href="landing.html">Landing</a></li>
              <li><a href="404.html">404 Page</a></li>
              <li class="it-last"><a href="comingsoon.html">Coming soon</a></li>
            </ul>
          </li>
          <li><a href="index.html#">Help</a></li>
          <li class="loginLink"><a href="index.html#">LOG In</a></li>
          <li class="btn signupLink"><a href="index.html#">sign up</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>

    <!-- top search form -->
    <div class="top-search">
      <select>
        <option value="united">TV show</option>
        <option value="saab">Others</option>
      </select>
      <input type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for">
    </div>
  </div>
</header>
<!-- END | Header -->
