<div>
  <span class="help is-info"  *ngIf="isLoading">Loading...</span>
  <table class="table" *ngIf="!isLoading">
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.id }}</td>
      <td>{{ movie.title }}</td>
      <td>{{ movie.rating }}</td>
      <td>
        <form>
          <button type="button" class="button is-primary" [class.is-loading]="isUpdating(movie.id)" (click)="increaseRating(movie.id, movie.rating+1)">Increase Rating</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
